@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
/*font-family: 'IBM Plex Serif', serif;*/
body{
   font-family: 'Roboto Condensed', sans-serif;
}
card{
  border-radius:0px !important;
}
#main{
    background-color: rgb(39, 50, 58);
}
#img1{
  background-image:url()
}
footer{
  
  background-color:black;
 
}
footer{
    color: white;
}